/* *** Zero *** */
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    box-sizing: border-box;
}
/* *** Zero *** */
html{
    scroll-behavior: smooth;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.container--small{
    width: 785px;   
}

/* HEADER START */

.header{
    padding: 16px 120px;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 8px #fff;
}

.header__wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Staatliches';
}

.header__lang{
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-right: 50px;
}

.header__link{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.header__slash{
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0 10px;
}
/* HEADER END */
/* MAIN(Container-small) START */

.main{
    padding-bottom: 20px;
}
/* (Aside) */

.flex{
    display: flex;
}

.aside{
    position: sticky;
    top: 120px;
    width: 385px;
    display: inline-flex;
    flex-direction: column;
    margin-right: 30px;
    height: 100%;
    margin-top: 160px;
}

.aside__nav{
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 10px;
    max-width: 370px;
    width: 100%;
    margin-bottom: 70px;
}

.aside__nav:last-child{
    margin-bottom: 0;
}

/* (Aside) */
/* (Container-small) */
.main__img{
    position: fixed;
    z-index: -1;
    top: 140px;
    transform: translateX(270px);
}

.section{
    padding-top: 180px;
}

.text__title{
    font-family: 'Francois One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
}

.text__title::after{
    content: ' ';
    width: 100px;
    height: 8px;
    background-color: #000000;
    position: absolute;
    left: 0;
    top: -20px;
}

.text__subtitle{
    font-family: 'Farro';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
    position: relative;
    top: -28px;
}

.text__text{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 40px;
} 
/* (Container-small) */
/* MAIN END */


/* Second Page */

.main--padding{
    padding-top: 150px;
    padding-bottom: 70px;
}

.main__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.04em;
    color: #000000;
    margin-left: 120px;
    margin-bottom: 40px;
    position: relative;
}

.main__title::before{
    content: ' ';
    width: 100px;
    height: 8px;
    background: #000000;
    position: absolute;
    left: -120px;
    top: 20px;
}

.main__content{
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
}

.main__card{
    width: 270px;
    height: 180px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.main__card:hover{
    transform: rotateX(-180deg);
}

.main__item--front,
.main__item--back{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
	justify-content: center;
	align-items: center;
    border-radius: 8px;
}

.main__item--front{
    background-color: #E6E6E6;
    z-index: 2;
    transform: rotateX(0deg);
    backface-visibility: hidden;
}

.main__item--back{
    background-color: #1A1A1A;
    transform: rotateX(-180deg);
}